body{
    margin: 0;
    font-family: sans-serif;
    background-size: cover;
}

header{
    width: 100%;
    background: #F1948A;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

/*abarca todo lo de arriba 
.menu li{
    flex-grow: 
}
*/

.menu li{
    border-right: 1xp solid #fff;
}

.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #000;
    text-decoration: none;
}

@media (max-width: 1000px){
    header label{
        display: block;
    }
    
    .menu{
        position: absolute;
        background: #F5B7B1;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    
    .menu ul{
        flex-direction: column;
    }
    
    .menu li{
        border-top: 1px solid #fff;
    }
    
    #btn-menu:checked ~ .menu {
        margin: 0;  
    }
}
