.caja {
    border-radius:  70px 70px 70px 70px;
    background: #FEF9E7;
    color: #545454;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 500px;
    padding: 2em 2em 4em;
}

.textarea{
    min-height: 100px;
    max-height: 300px;
    max-width: 200px;
}

.boton{
text-decoration:none;
font-weight: 600;
font-size: 20px;
font-family: sans-serif;    
color:#D6EAF8;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background:url(btmm.jpg);
border-color: #A569BD;
border-width: 3px;
border-style: solid;
border-radius:35px 35px 35px 35px;
    
    
}

.boton2{
text-decoration:none;
font-weight: 600;
font-size: 20px;
font-family: sans-serif;    
color:#D6EAF8  ;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background:url(btmm.jpg);
border-color: #D35400  ;
border-width: 3px;
border-style: solid;
border-radius:35px;
     
}

.boton3{
text-decoration:none;
font-weight: 600;
font-size: 20px;
font-family: sans-serif;    
color:#000;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color: #FADBD8;
border-color: #D7BDE2;
border-width: 3px;
border-style: solid;
border-radius:35px;
}

.texto1{
    font-family: cursive;
    font-size: 25px;
    color: #333333;
}

.texto{
    font-family: sans-serif;
    font-size: 25px;
    color: #333333;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    color: #000;
    text-align: left;
}

ul li{
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
}

ul p{
    font-family: sans-serif;
    font-size: 19px;
    text-align: left;
}

ol li{
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
}


img{
    border-radius:  50px 50px 50px 50px;
    border-color: #F5B7B1;
    border-width: 2px;
    border-style: solid;
    
}